<a href="https://colab.research.google.com/github/dlrbdjs/Hybrid_Sam_E_SoSa_RioReibi/blob/gyueon/202110958_%EC%9D%B4%EA%B7%9C%EC%96%B8_%EC%8B%A4%EC%8A%B50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초

프린트

In [ ]:
print("Hello, world")

# integer
x = 3
print("정수 : %01d, %02d, %03d, %04d, %05d" % (x, x, x, x, x))

#float
x = 256.256
print("실수 : %.0f, %.1f, %.2f" % (x, x, x))

#string
x = "Hello, world"
print("문자열 : [%s]" % (x))

반복문, 조건문

In [ ]:
contents = ["Regression", "Classification", "SVM", "Clustering", "Dimension reduction", "NN", "CNN", "AE", "GAN", "RNN"]
for con in contents:
  if con in ["Regression", "Classification", "SVM", "Clustering", "Dimension reduction"]:
    print("%s 은(는) 기계학습 내용입니다." %con)
  elif con in ["CNN"]:
    print("%s 은(는) convolutional neural network 내용입니다." %con)
  else:
    print("%s 은(는) 심층학습 내용입니다." %con)

반복문과 인덱스

In [ ]:
for (i, con) in enumerate(contents):
  print("[%d/%d]: %s" %(i, len(contents), con))

함수

In [ ]:
def sum(a, b):
  return a+b

x = 10.0
y = 20.0
print("%.1f + %.1f = %.1f" %(x, y, sum(x, y)))

리스트

In [ ]:
a = []
b = [1, 2, 3]
c = ["Hello", ",", "world"]
d = [1, 2, 3, "x", "y", "z"]
x = []
print(x)

x.append('a')
print(x)

x.append(123)
print(x)

x.append(["a", "b"])
print(x)

딕셔너리

In [ ]:
dic = dict()
dic["name"] = "Daesik"
dic["town"] = "Yongin city"
dic["job"] = "assistant professor"
print(dic)

{'name': 'Daesik', 'town': 'Yongin city', 'job': 'assistant professor'}

클래스

In [ ]:
class Student:
  #생성자
  def __init__(self, name):
    self.name = name
  #메써드
  def study(self, hard=False):
    if hard:
      print("%s 학생은 열심히 공부합니다." %self.name)
    else:
      print("%s 학생은 공부합니다." %self.name)
s = Student('Daesik')
s.study()
s.study(hard=True)

라이브러리(패키지)로드

In [ ]:
import numpy as np

벡터, 행렬연산, 그래프 그리기

프린트

In [ ]:
def print_val(x):
  print("Type:", type(x))
  print("Shape", x.shape)
  print("값:\n", x)
  print(" ")

rank 1 np array

In [ ]:
x = np.array([1, 2, 3])
print_val(x)

x[0] = 5
print_val(x)

랜덤 행렬(uniform: 0~1 사이 모든 값들이 나올 확률이 같음

In [ ]:
a = np.random.random((4, 4))
print_val(a)

랜덤 행렬(Gaussian: 0을 평균으로 하는 가우시안 분포를 따르는 랜덤값)

In [ ]:
a = np.random.randn(4, 4)
print_val(a)

np arrary indexing

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print_val(a)

b = a[:2, 1:3] #행 0~1, 열 1~2
print_val(b)

행렬의 n번째 행 얻기

In [ ]:
row1 = a[1, :] # 1번째 행
print_val(row1)

행렬의 원소별 연산

In [ ]:
m1 = np.array([[1, 2], [3, 4]], dtype = np.float64)
m2 = np.array([[5, 6], [7, 8]], dtype = np.float64)

In [ ]:
#elementwise sum
print_val(m1 + m2)
print_val(np.add(m1, m2))

In [ ]:
#elementwise difference
print_val(m1 - m2)
print_val(np.subtract(m1, m2))

In [ ]:
#elementwise product
print_val(m1 * m2)
print_val(np.multiply(m1, m2))

In [ ]:
#elementwise division
print_val(m1 / m2)
print_val(np.divide(m1, m2))

In [ ]:
#elementwise square root
print_val(np.sqrt(m1))

행렬 연산

In [ ]:
m1 = np.array([[1, 2], [3, 4]]) # (2, 2)
m2 = np.array([[5, 6], [7, 8]]) # (2, 2)
v1 = np.array([9, 10]) # (2, 1) #[[9, 10]]  (1, 2)
v2 = np.array([11, 12]) #(2, 1)

print_val(m1)
print_val(m2)
print_val(v1)
print_val(v2)

벡터-벡터 연산

In [ ]:
print_val(v1.dot(v2))
print_val(np.dot(v1, v2))

벡터-행렬 연산

In [ ]:
print_val(m1.dot(v1))
print_val(np.dot(m1, v1))

행렬-행렬 연산

In [ ]:
print_val(m1.dot(m2))
print_val(np.dot(m1, m2))

전치 행렬 (transpose)

In [ ]:
print_val(m1)
print_val(m1.T)

합

In [ ]:
print_val(np.sum(m1))   # 행렬의 모든 원소의 합
print_val(np.sum(m1, axis = 0))     # shape[0] (행)을 압축시키자. (2,2) -> (2, )
print_val(np.sum(m1, axis = 1))     # shape[1] (열)을 압축시키자. (2,2) -> (2, )

In [ ]:
m1 = np.array([[1, 2, 3], [4, 5, 6]])
print(m1)
print(m1.shape)  # (2, 3)

In [ ]:
print(np.sum(m1))
print(np.sum(m1, axis = 0)) #shape[0] (행)을 압축시키자 (2, 3) -> (3, )
print(np.sum(m1, axis = 1)) #shape[1] (열)을 압축시키자 (2, 3) -> (2, )

zeros-like

In [ ]:
m1 = np.array([[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9],
               [10, 11, 12]])
m2 = np.zeros_like(m1)  #m1과 같은 형태의 0으로 이루어진 np array
print_val(m1)
print_val(m2)

Matplot library

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

#sin 커브
x = np.arange(0, 10, 0.1)   # 0 ~ 10 까지 0.1 간격의 숫자 배열
y = np.sin(x)

plt.plot(x, y)

한 번에 두 개 그래프 그리기

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel("x axis label")
plt.ylabel("y axis label")
plt.title("sin and cos")
plt.legend(["sin", "cos"])

plt.show()

Subplot

In [ ]:
plt.subplot(2, 1, 1) # (2, 1) 형태 플랏의 첫 번째 자리에 그리겠다
plt.plot(x, y_sin)
plt.title('sin')

plt.subplot(2, 1, 2)
plt.plot(x, y_cos)
plt.title('cos')

plt.show()